.all-quotes {
  background-color: aqua;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.wrapper {
  margin-top: 10%;
}
button {
  background-color: aliceblue;
  border: 3px solid white;
  border-radius: 20px;
  color: rgb(7, 0, 107);
  font-weight: 700;
  font-size: 15px;
}

::-webkit-scrollbar {
  display: none;
}
